h1#for{
    text-align: center;
    margin-left: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 40px;
}

#fornecedor{
    width: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#perfilFor{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#numeroFor{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 18px;
}

#complementoFor{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#enderecoFor{
    width: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 25px;
}

#cidadeFor{
    width: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 45px;
}

#estadosFor{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 25px;
}

#telefoneFor{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 36px;
}

#botaoForn{
    margin-left: 250px;    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 827px;
}

#telLabFor{
    margin-left: 30px;
}